.contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 40px 20px;
}

.contact-title {
    position: relative;
    text-align: center;
}

.contact-title h1 {
    font-size: 60px;
    font-weight: 600;
    padding: 0 10px;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 50%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.contact-left h1 {
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(140deg, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #d8d8d8;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #d8d8d8;
    font-size: 18px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-right label {
    color: #d8d8d8;
    font-size: 18px;
    font-weight: 500;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

.contact-submit {
    border: none;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(140deg, blue, purple);
    font-size: 18px;
    padding: 15px 40px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    border: 2px solid #fff;
}

@media (min-width: 768px) {
    .contact {
        margin: 60px 40px;
    }

    .contact-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 80px;
    }

    .contact-left {
        text-align: left;
    }

    .contact-left h1 {
        font-size: 60px;
    }

    .contact-right {
        align-items: flex-start;
    }

    .contact-right input,
    .contact-right textarea {
        max-width: 500px;
    }
}

@media (min-width: 1024px) {
    .contact {
        margin: 80px 170px;
    }

    .contact-title h1 {
        font-size: 80px;
    }

    .contact-left h1 {
        font-size: 80px;
    }

    .contact-right input,
    .contact-right textarea {
        max-width: 700px;
    }
}
